@import url('profile.css');
@import url('grid.css');

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;

  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100%;
}

.container {
  max-width: 956px;
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  margin-bottom: 20px;
}

.footer__created__by {
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  color: #B9BDCF;
}

@media (max-width: 425px) {
  :root {
    font-size: 45%;
  }
}