footer {
  width: 100%;
  max-width: 1900px;

  margin: 0 auto;
  margin-top: 40px;

  text-align: center;

  span {
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    color: #BDBDBD;
  }
}